*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("movie.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.container{
    display: grid;

    grid-template-rows: 20vh 60vh 20vh;
    row-gap: 10px;
}

.Box{
    color: white;
}

/* Name Of SIte */
#Box1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    padding: 10px;
    margin: 10px;

    border: 1px solid silver;
    background-color: darkgrey;
    border-radius: 5px;

}

.header{
    color: white;
    /* border: 2px solid yellow; */
    margin: 0px 10px 0px 10px;
}

#Box1_child1{
    text-align: center;
    padding: 41px 0px;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;

}

a:link{ 
    text-decoration: none;
    color:white;
    /* background-color: aqua; */
}

span{
    color: rgb(236, 69, 183);
}

/* Home Movies And Series */
#Box1_child2{
    margin: 10px;
    padding: 32px;

    font-size:20px ;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

ul li a{
    margin-left: 50px;
    margin-right: 50px;
}


/* form */

#Box1_child3{
    display: flex;
    justify-content: center;
    align-items: center;

}

input[type="search"]
{
    border-radius: 4px;
    border:none;

}

input[type="submit"]
{
    cursor: pointer;
    margin-left: 20px;
}



/* MAIN */
#Box2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
    padding: 154px 0px;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(92, 244, 160);
}

h1:hover{
    cursor:pointer;
    color: gold;
}


/* CONTACT */
#Box3{
    text-align: center;
    padding: 51px 0px;
    font-size: 39px;
}

/* hover */
.pay:hover{
    color: gold;
}

div ul li a:hover{
    color: gold;
}

.site_name:hover{
    color: gold;
}
